In [73]:

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime

In [74]:
df = pd.read_csv('base_abn_app_bv.csv', sep = ',')

C:\Users\rafik\AppData\Local\Temp\ipykernel_12956\3661963601.py:1: DtypeWarning: Columns (23,29,35,58,62,89,99,124,130) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('base_abn_app_bv.csv', sep = ',')

In [75]:
df.info(verbose = True, show_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84324 entries, 0 to 84323
Data columns (total 141 columns):
 #    Column                       Non-Null Count  Dtype
---   ------                       --------------  -----
 0    cl-wc-id_lead                84324 non-null  int64
 1    clh_lead-wc-id_lead_history  84324 non-null  int64
 2    clh_last-wc-id_lead_history  84324 non-null  int64
 3    clh_last-wc-fk_id_action     84324 non-null  int64
 4    cl-wc-fingerprint            84324 non-null  object
 5    cp-wc-id_platform            84324 non-null  int64
 6    cp-wc-name                   84324 non-null  object
 7    clh_lead-wc-origin           84324 non-null  object
 8    clh_lead-wc-plugin           84324 non-null  object
 9    clh_last-wc-fk_id_status     84324 non-null  int64
 10   cs_status-wc-label           84324 non-null  object
 11   clh_lead-wc-referer          0 non-null      float64
 12   clh_last-wc-created_at       84324 non-null  object
 13   clh_lead-wc-created_at       84324 non-null  object
 14   cs_channel-wc-label          57253 non-null  object
 15   cl_export-wc-fk_id_channel   57253 non-null  float64
 16   clh_lead-wc-export_date      73594 non-null  object
 17   cl_export-wc-worked_at       27404 non-null  object
 18   cs_user-wc-name              28567 non-null  object
 19   cae-wc-evaluation            1274 non-null   float64
 20   cae-wc-details               310 non-null    object
 21   pabxf-wc-statusLigacaoDesc   42686 non-null  object
 22   pabxf-wc-idStatusLigacao     42686 non-null  float64
 23   abandonment_reason           5977 non-null   object
 24   account_card_number          0 non-null      float64
 25   account_open_date            0 non-null      float64
 26   account_status               0 non-null      float64
 27   additional_card              614 non-null    float64
 28   additional_safe              1211 non-null   object
 29   address                      61512 non-null  object
 30   age                          0 non-null      float64
 31   approach_code                84324 non-null  int64
 32   approach_quantity            80612 non-null  float64
 33   best_channel                 1211 non-null   object
 34   birth_date                   84262 non-null  object
 35   birth_date_additional_1      33 non-null     object
 36   birth_date_additional_2      0 non-null      float64
 37   birth_date_additional_3      0 non-null      float64
 38   bv_account_days              0 non-null      float64
 39   bv_product_deion             0 non-null      float64
 40   bv_sale_date                 0 non-null      float64
 41   cancel_motivation            0 non-null      float64
 42   cc_brand                     2773 non-null   object
 43   cc_emissiondate              0 non-null      float64
 44   cc_expiry_date               0 non-null      float64
 45   cc_lastdate                  0 non-null      float64
 46   cc_lastfour                  0 non-null      float64
 47   cc_name                      0 non-null      float64
 48   cc_number                    0 non-null      float64
 49   cc_status                    0 non-null      float64
 50   cc_type                      2773 non-null   object
 51   channel                      14946 non-null  object
 52   chassi                       0 non-null      float64
 53   children                     0 non-null      float64
 54   children_age                 0 non-null      float64
 55   city                         79735 non-null  object
 56   complement                   0 non-null      float64
 57   cpf                          84324 non-null  int64
 58   cpf_additional_1             33 non-null     object
 59   cpf_additional_2             0 non-null      float64
 60   cpf_additional_3             0 non-null      float64
 61   customer_origin              0 non-null      float64
 62   date_scheduling              3310 non-null   object
 63   delivery_address             0 non-null      float64
 64   delivery_city                0 non-null      float64
 65   delivery_complement          0 non-null      float64
 66   delivery_neighborhood        0 non-null      float64
 67   delivery_number              0 non-null      float64
 68   delivery_state               0 non-null      float64
 69   delivery_zipcode             0 non-null      float64
 70   details                      84324 non-null  object
 71   did_financing                0 non-null      float64
 72   digital_account              1187 non-null   object
 73   digital_account_initiated    0 non-null      float64
 74   digital_account_refusal      172 non-null    object
 75   digital_propensity           0 non-null      float64
 76   dt_pri_desbl                 0 non-null      float64
 77   email                        67043 non-null  object
 78   email2                       847 non-null    object
 79   eps                          84324 non-null  int64
 80   financing_total_value        0 non-null      float64
 81   gh                           76273 non-null  float64
 82   home_delivery_flag           0 non-null      float64
 83   home_phone                   3811 non-null   float64
 84   income                       84250 non-null  object
 85   insurance_safe               1211 non-null   object
 86   invoice_date                 0 non-null      float64
 87   last_channel                 0 non-null      float64
 88   license_plate                0 non-null      float64
 89   limit                        84324 non-null  object
 90   limit_increase_approach      0 non-null      float64
 91   limit_increase_permition     857 non-null    object
 92   manufacture_year             0 non-null      float64
 93   marital_status               84081 non-null  object
 94   mobile_device                0 non-null      float64
 95   mob_desbloqueio              0 non-null      float64
 96   model_year                   0 non-null      float64
 97   mother_name                  84186 non-null  object
 98   name                         84324 non-null  object
 99   name_additional_1            33 non-null     object
 100  name_additional_2            0 non-null      float64
 101  name_additional_3            0 non-null      float64
 102  neighborhood                 0 non-null      float64
 103  new_limit                    0 non-null      float64
 104  note_internal                2522 non-null   object
 105  number                       0 non-null      float64
 106  occupation                   66980 non-null  float64
 107  offer                        84324 non-null  object
 108  phone                        84324 non-null  int64
 109  phone3                       0 non-null      float64
 110  phone4                       0 non-null      float64
 111  phone5                       0 non-null      float64
 112  place_of_birth               84090 non-null  object
 113  platform_lead_id             0 non-null      float64
 114  product                      2692 non-null   object
 115  professional_type            84148 non-null  float64
 116  proposal_number              0 non-null      float64
 117  quantity_dependent           0 non-null      float64
 118  refund_value                 0 non-null      float64
 119  refusal_financing            0 non-null      float64
 120  renavam                      0 non-null      float64
 121  residence_time               82632 non-null  float64
 122  rg                           84239 non-null  object
 123  rg_emission_date             50658 non-null  object
 124  scheduling_name              27530 non-null  object
 125  score_date_bv                0 non-null      float64
 126  score_points_bv              0 non-null      float64
 127  score_type_bv                0 non-null      float64
 128  sex                          83693 non-null  object
 129  state                        79735 non-null  object
 130  status_date                  56193 non-null  object
 131  step_abandonment             84324 non-null  object
 132  tabulation                   16616 non-null  object
 133  tempprop                     0 non-null      float64
 134  type_residence               82632 non-null  float64
 135  user_know_limit              361 non-null    object
 136  variante_Mailing_Downgrade   0 non-null      float64
 137  vehicle_brand                0 non-null      float64
 138  vehicle_color                0 non-null      float64
 139  vehicle_model                0 non-null      float64
 140  zipcode                      79735 non-null  float64
dtypes: float64(80), int64(10), object(51)
memory usage: 90.7+ MB

Tirando colunas que não importam para o score

In [76]:
df = df.drop(columns=['cl-wc-id_lead','clh_lead-wc-id_lead_history','clh_last-wc-id_lead_history','clh_last-wc-fk_id_action','cl-wc-fingerprint','cp-wc-id_platform','cp-wc-id_platform','clh_lead-wc-origin','clh_lead-wc-plugin','clh_last-wc-fk_id_status','clh_lead-wc-referer','clh_last-wc-created_at','clh_lead-wc-created_at','cs_channel-wc-label','cl_export-wc-fk_id_channel','clh_lead-wc-export_date','cl_export-wc-worked_at','pabxf-wc-idStatusLigacao','pabxf-wc-statusLigacaoDesc','birth_date_additional_1','birth_date_additional_2','birth_date_additional_3','chassi','channel','cpf_additional_1','cpf_additional_2','cpf_additional_3','vehicle_brand','vehicle_model','vehicle_color','tabulation','name_additional_1','name_additional_2','name_additional_3','manufacture_year','license_plate','email2','cp-wc-name','cs_user-wc-name','cae-wc-evaluation','cae-wc-details','phone3','phone4','phone5','rg_emission_date','zipcode','age'])

In [77]:
df.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84324 entries, 0 to 84323
Data columns (total 95 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   cs_status-wc-label          84324 non-null  object
 1   abandonment_reason          5977 non-null   object
 2   account_card_number         0 non-null      float64
 3   account_open_date           0 non-null      float64
 4   account_status              0 non-null      float64
 5   additional_card             614 non-null    float64
 6   additional_safe             1211 non-null   object
 7   address                     61512 non-null  object
 8   approach_code               84324 non-null  int64
 9   approach_quantity           80612 non-null  float64
 10  best_channel                1211 non-null   object
 11  birth_date                  84262 non-null  object
 12  bv_account_days             0 non-null      float64
 13  bv_product_deion            0 non-null      float64
 14  bv_sale_date                0 non-null      float64
 15  cancel_motivation           0 non-null      float64
 16  cc_brand                    2773 non-null   object
 17  cc_emissiondate             0 non-null      float64
 18  cc_expiry_date              0 non-null      float64
 19  cc_lastdate                 0 non-null      float64
 20  cc_lastfour                 0 non-null      float64
 21  cc_name                     0 non-null      float64
 22  cc_number                   0 non-null      float64
 23  cc_status                   0 non-null      float64
 24  cc_type                     2773 non-null   object
 25  children                    0 non-null      float64
 26  children_age                0 non-null      float64
 27  city                        79735 non-null  object
 28  complement                  0 non-null      float64
 29  cpf                         84324 non-null  int64
 30  customer_origin             0 non-null      float64
 31  date_scheduling             3310 non-null   object
 32  delivery_address            0 non-null      float64
 33  delivery_city               0 non-null      float64
 34  delivery_complement         0 non-null      float64
 35  delivery_neighborhood       0 non-null      float64
 36  delivery_number             0 non-null      float64
 37  delivery_state              0 non-null      float64
 38  delivery_zipcode            0 non-null      float64
 39  details                     84324 non-null  object
 40  did_financing               0 non-null      float64
 41  digital_account             1187 non-null   object
 42  digital_account_initiated   0 non-null      float64
 43  digital_account_refusal     172 non-null    object
 44  digital_propensity          0 non-null      float64
 45  dt_pri_desbl                0 non-null      float64
 46  email                       67043 non-null  object
 47  eps                         84324 non-null  int64
 48  financing_total_value       0 non-null      float64
 49  gh                          76273 non-null  float64
 50  home_delivery_flag          0 non-null      float64
 51  home_phone                  3811 non-null   float64
 52  income                      84250 non-null  object
 53  insurance_safe              1211 non-null   object
 54  invoice_date                0 non-null      float64
 55  last_channel                0 non-null      float64
 56  limit                       84324 non-null  object
 57  limit_increase_approach     0 non-null      float64
 58  limit_increase_permition    857 non-null    object
 59  marital_status              84081 non-null  object
 60  mobile_device               0 non-null      float64
 61  mob_desbloqueio             0 non-null      float64
 62  model_year                  0 non-null      float64
 63  mother_name                 84186 non-null  object
 64  name                        84324 non-null  object
 65  neighborhood                0 non-null      float64
 66  new_limit                   0 non-null      float64
 67  note_internal               2522 non-null   object
 68  number                      0 non-null      float64
 69  occupation                  66980 non-null  float64
 70  offer                       84324 non-null  object
 71  phone                       84324 non-null  int64
 72  place_of_birth              84090 non-null  object
 73  platform_lead_id            0 non-null      float64
 74  product                     2692 non-null   object
 75  professional_type           84148 non-null  float64
 76  proposal_number             0 non-null      float64
 77  quantity_dependent          0 non-null      float64
 78  refund_value                0 non-null      float64
 79  refusal_financing           0 non-null      float64
 80  renavam                     0 non-null      float64
 81  residence_time              82632 non-null  float64
 82  rg                          84239 non-null  object
 83  scheduling_name             27530 non-null  object
 84  score_date_bv               0 non-null      float64
 85  score_points_bv             0 non-null      float64
 86  score_type_bv               0 non-null      float64
 87  sex                         83693 non-null  object
 88  state                       79735 non-null  object
 89  status_date                 56193 non-null  object
 90  step_abandonment            84324 non-null  object
 91  tempprop                    0 non-null      float64
 92  type_residence              82632 non-null  float64
 93  user_know_limit             361 non-null    object
 94  variante_Mailing_Downgrade  0 non-null      float64
dtypes: float64(59), int64(4), object(32)
memory usage: 61.1+ MB

In [78]:
df['cs_status-wc-label'].groupby(df['cs_status-wc-label']).count()

cs_status-wc-label
Agendamento     3302
Atendimento      564
Conversão       1212
Improdutivo     3286
Lead           67708
Recusa          8252
Name: cs_status-wc-label, dtype: int64

In [79]:
df_novo = df[['sex','marital_status','birth_date','state','residence_time','type_residence','occupation','professional_type','income','limit','approach_code','approach_quantity','offer','gh','step_abandonment','cs_status-wc-label']].copy()

In [80]:
df_novo.head(3)

,sex,marital_status,birth_date,state,residence_time,type_residence,occupation,professional_type,income,limit,approach_code,approach_quantity,offer,gh,step_abandonment,cs_status-wc-label
0,F,SOLTEIRO,02/12/1956,SP,0.0,1.0,NaN,7.0,1900,3700,1,2.0,MAIS,8.0,TELA DE CREDITO,Lead
1,F,SOLTEIRO,02/12/1956,SP,0.0,1.0,NaN,7.0,1900,3700,1,2.0,MAIS,8.0,TELA DE CREDITO,Recusa
2,F,SOLTEIRO,02/12/1956,SP,0.0,1.0,NaN,7.0,1900,3700,1,2.0,MAIS,8.0,TELA DE CREDITO,Atendimento

In [81]:
df_novo.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84324 entries, 0 to 84323
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   sex                 83693 non-null  object
 1   marital_status      84081 non-null  object
 2   birth_date          84262 non-null  object
 3   state               79735 non-null  object
 4   residence_time      82632 non-null  float64
 5   type_residence      82632 non-null  float64
 6   occupation          66980 non-null  float64
 7   professional_type   84148 non-null  float64
 8   income              84250 non-null  object
 9   limit               84324 non-null  object
 10  approach_code       84324 non-null  int64
 11  approach_quantity   80612 non-null  float64
 12  offer               84324 non-null  object
 13  gh                  76273 non-null  float64
 14  step_abandonment    84324 non-null  object
 15  cs_status-wc-label  84324 non-null  object
dtypes: float64(6), int64(1), object(9)
memory usage: 10.3+ MB

In [82]:
df_novo = df_novo.dropna(axis = 0)

In [83]:
df2 = df_novo.loc[(df_novo['cs_status-wc-label'] == 'Conversão') | (df_novo['cs_status-wc-label'] == 'Recusa')]
df2

,sex,marital_status,birth_date,state,residence_time,type_residence,occupation,professional_type,income,limit,approach_code,approach_quantity,offer,gh,step_abandonment,cs_status-wc-label
12,F,CASADO,17/03/1982,RJ,0.0,1.0,7897.0,3.0,3000,3700,1,3.0,MAIS,8.0,TELA DE CREDITO,Conversão
17,M,CASADO,06/10/1976,RS,0.0,1.0,2159.0,3.0,200000,8900,1,4.0,MAIS,8.0,TELA DE CREDITO,Recusa
29,M,CASADO,08/12/1975,SP,0.0,1.0,8700.0,1.0,3000,9400,1,3.0,MAIS,8.0,TELA DE CREDITO,Recusa
33,M,CASADO,21/07/2000,MG,0.0,1.0,3962.0,1.0,2000,4000,1,2.0,MAIS,8.0,TELA DE CREDITO,Recusa
40,M,CASADO,22/12/1980,CE,0.0,1.0,7897.0,1.0,2000,6900,1,2.0,MAIS,8.0,TELA DE CREDITO,Conversão
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82069,F,SOLTEIRO,04/02/1981,SC,0.0,1.0,2684.0,5.0,400000,3000,1,1.0,MAIS,9.0,TELA DE CREDITO,Recusa
82211,M,SOLTEIRO,27/08/1991,RS,0.0,1.0,8022.0,1.0,2320,7100,1,3.0,MAIS,7.0,TELA DE CREDITO,Recusa
82430,M,CASADO,11/06/1991,MT,0.0,1.0,8069.0,2.0,1000000,4300,1,1.0,MAIS,10.0,TELA DE CREDITO,Recusa
82524,F,CASADO,24/10/1981,MT,0.0,1.0,7897.0,2.0,4500,7800,1,2.0,MAIS,10.0,TELA DE CREDITO,Recusa
82621,M,SOLTEIRO,30/01/1982,RS,0.0,1.0,3694.0,1.0,7000,8400,1,5.0,MAIS,7.0,TELA DE CREDITO,Recusa

In [84]:
df2.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6371 entries, 12 to 82621
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   sex                 6371 non-null   object
 1   marital_status      6371 non-null   object
 2   birth_date          6371 non-null   object
 3   state               6371 non-null   object
 4   residence_time      6371 non-null   float64
 5   type_residence      6371 non-null   float64
 6   occupation          6371 non-null   float64
 7   professional_type   6371 non-null   float64
 8   income              6371 non-null   object
 9   limit               6371 non-null   object
 10  approach_code       6371 non-null   int64
 11  approach_quantity   6371 non-null   float64
 12  offer               6371 non-null   object
 13  gh                  6371 non-null   float64
 14  step_abandonment    6371 non-null   object
 15  cs_status-wc-label  6371 non-null   object
dtypes: float64(6), int64(1), object(9)
memory usage: 846.1+ KB

In [85]:
df2 = df2.dropna()
df2

,sex,marital_status,birth_date,state,residence_time,type_residence,occupation,professional_type,income,limit,approach_code,approach_quantity,offer,gh,step_abandonment,cs_status-wc-label
12,F,CASADO,17/03/1982,RJ,0.0,1.0,7897.0,3.0,3000,3700,1,3.0,MAIS,8.0,TELA DE CREDITO,Conversão
17,M,CASADO,06/10/1976,RS,0.0,1.0,2159.0,3.0,200000,8900,1,4.0,MAIS,8.0,TELA DE CREDITO,Recusa
29,M,CASADO,08/12/1975,SP,0.0,1.0,8700.0,1.0,3000,9400,1,3.0,MAIS,8.0,TELA DE CREDITO,Recusa
33,M,CASADO,21/07/2000,MG,0.0,1.0,3962.0,1.0,2000,4000,1,2.0,MAIS,8.0,TELA DE CREDITO,Recusa
40,M,CASADO,22/12/1980,CE,0.0,1.0,7897.0,1.0,2000,6900,1,2.0,MAIS,8.0,TELA DE CREDITO,Conversão
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82069,F,SOLTEIRO,04/02/1981,SC,0.0,1.0,2684.0,5.0,400000,3000,1,1.0,MAIS,9.0,TELA DE CREDITO,Recusa
82211,M,SOLTEIRO,27/08/1991,RS,0.0,1.0,8022.0,1.0,2320,7100,1,3.0,MAIS,7.0,TELA DE CREDITO,Recusa
82430,M,CASADO,11/06/1991,MT,0.0,1.0,8069.0,2.0,1000000,4300,1,1.0,MAIS,10.0,TELA DE CREDITO,Recusa
82524,F,CASADO,24/10/1981,MT,0.0,1.0,7897.0,2.0,4500,7800,1,2.0,MAIS,10.0,TELA DE CREDITO,Recusa
82621,M,SOLTEIRO,30/01/1982,RS,0.0,1.0,3694.0,1.0,7000,8400,1,5.0,MAIS,7.0,TELA DE CREDITO,Recusa

In [86]:
df2['cs_status-wc-label'].loc[df2['cs_status-wc-label'] == 'Conversão'] = 1
df2['cs_status-wc-label'].loc[df2['cs_status-wc-label'] == 'Recusa'] = 0
df2

C:\Users\rafik\AppData\Local\Temp\ipykernel_12956\19054474.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['cs_status-wc-label'].loc[df2['cs_status-wc-label'] == 'Conversão'] = 1
C:\Users\rafik\AppData\Local\Temp\ipykernel_12956\19054474.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['cs_status-wc-label'].loc[df2['cs_status-wc-label'] == 'Recusa'] = 0

,sex,marital_status,birth_date,state,residence_time,type_residence,occupation,professional_type,income,limit,approach_code,approach_quantity,offer,gh,step_abandonment,cs_status-wc-label
12,F,CASADO,17/03/1982,RJ,0.0,1.0,7897.0,3.0,3000,3700,1,3.0,MAIS,8.0,TELA DE CREDITO,1
17,M,CASADO,06/10/1976,RS,0.0,1.0,2159.0,3.0,200000,8900,1,4.0,MAIS,8.0,TELA DE CREDITO,0
29,M,CASADO,08/12/1975,SP,0.0,1.0,8700.0,1.0,3000,9400,1,3.0,MAIS,8.0,TELA DE CREDITO,0
33,M,CASADO,21/07/2000,MG,0.0,1.0,3962.0,1.0,2000,4000,1,2.0,MAIS,8.0,TELA DE CREDITO,0
40,M,CASADO,22/12/1980,CE,0.0,1.0,7897.0,1.0,2000,6900,1,2.0,MAIS,8.0,TELA DE CREDITO,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82069,F,SOLTEIRO,04/02/1981,SC,0.0,1.0,2684.0,5.0,400000,3000,1,1.0,MAIS,9.0,TELA DE CREDITO,0
82211,M,SOLTEIRO,27/08/1991,RS,0.0,1.0,8022.0,1.0,2320,7100,1,3.0,MAIS,7.0,TELA DE CREDITO,0
82430,M,CASADO,11/06/1991,MT,0.0,1.0,8069.0,2.0,1000000,4300,1,1.0,MAIS,10.0,TELA DE CREDITO,0
82524,F,CASADO,24/10/1981,MT,0.0,1.0,7897.0,2.0,4500,7800,1,2.0,MAIS,10.0,TELA DE CREDITO,0
82621,M,SOLTEIRO,30/01/1982,RS,0.0,1.0,3694.0,1.0,7000,8400,1,5.0,MAIS,7.0,TELA DE CREDITO,0

In [87]:
#df2.drop(columns = ['birth_date'])
df2['income'] = df2['income'].str.replace(',','.')
df2['limit'] = df2['income'].str.replace(',','.')
df2['income'] = df2['income'].astype(float)
df2['limit'] = df2['limit'].astype(float)

df2.drop(columns = ['birth_date'], inplace = True)
y = df2['cs_status-wc-label'].loc[(df2['cs_status-wc-label'] == 1) | (df2['cs_status-wc-label'] == 0)]
df2.drop(columns  = ['cs_status-wc-label'] , inplace = True)
df_final = pd.get_dummies(data = df2,columns = ['sex','marital_status','state','offer','step_abandonment'],drop_first=True)

In [88]:
from imblearn.over_sampling import RandomOverSampler

In [114]:
y = y.astype(int)
y.value_counts()

0    5600
1     771
Name: cs_status-wc-label, dtype: int64

In [90]:
from imblearn.over_sampling import SMOTE

In [116]:
oversample = SMOTE(random_state= 101)

In [92]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [124]:
X_train,X_teste,y_train,y_test = train_test_split(df_final,y, test_size = 0.33, random_state = 42)

In [125]:
x_train,y_train1 = oversample.fit_resample(X_train,y_train)

In [126]:
log = LogisticRegression()

In [127]:
log.fit(x_train,y_train1)
z = log.predict(X_teste)

In [97]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [128]:
print(accuracy_score(y_test,z))

0.2187351402757965

In [122]:
print(confusion_matrix(y_test,z))

[[ 260 1606]
 [  37  200]]

In [100]:
from sklearn.metrics import classification_report

In [123]:
print(classification_report(z,y_test))

              precision    recall  f1-score   support

           0       0.14      0.88      0.24       297
           1       0.84      0.11      0.20      1806

    accuracy                           0.22      2103
   macro avg       0.49      0.49      0.22      2103
weighted avg       0.74      0.22      0.20      2103